<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inftel.easyprojectandroid">

    <application
        android:name=".model.EasyProjectApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ViewTaskActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.ViewProjectTabActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name=".activity.NewProjectActivity"
            android:parentActivityName=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/new_project"
            android:launchMode="singleTop"/>


        <activity
            android:name=".activity.NewTaskActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/newTask"
            android:parentActivityName=".activity.ViewProjectTabActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activity.EditProjectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activity.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.ViewProjectTabActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateHidden"/>


        <activity
            android:name=".activity.infoTaskActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.ViewTaskActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activity.InfoProjectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.ViewProjectTabActivity"/>


        <activity
            android:name=".activity.ViewProjectTabActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.MainActivity"/>

    </application>

</manifest>
